.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    padding: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color:rgb(37, 87, 144);
    gap:30px;
}

.logout{
    padding:4px;
    border-bottom: 2px solid rgb(37, 87, 144);
    cursor: pointer;
}